<%= form_with(url: "/flights", method: "get") do %>
    <%= select_tag(:departure_airport_id, options_for_select(@airports)) %>
    <%= select_tag(:arrival_airport_id, options_for_select(@airports)) %>
    <%= select_tag(:passengers_number, options_for_select(1..4)) %>
    <%= select_tag(:start_datetime, options_for_select(@dates)) %>
    <%= submit_tag("Search")%>
<% end %>

<div class="o"><%= params %></div>

<div class="d">
    <% if params.has_key?(:departure_airport_id) %>
        <div>
            <%= form_with(url: "/flights", method: "get") do %>
                <%= collection_radio_buttons(:booking, :flight_id, @flights, :id, :id) do | b | %>
                    <%= b.label(:"data-value" => b.value) { b.radio_button + "#{b.object.departure_airport.code} #{b.object.arrival_airport.code}" } %>
                    <% end %>
                </br><%= submit_tag("Select flight") %>
            <% end %>
        </div>
    <% end %>
</div>



<div class="c"><%= @flights %></div>