<div class="bookings-new-header">Passengers registration</div>

<div class="bookings-new">
    <%= form_with model: @booking do | f | %>
        <%= hidden_field :booking, :passengers_number, :value => params[:booking][:passengers_number] %>
        <%= hidden_field :booking, :flight_id, :value => params[:booking][:flight_id] %>
        <%= f.fields_for :passengers do | p | %>
            <div class="single-booking">
                <div class="passenger"><%= "#{(p.options[:child_index] + 1).ordinalize} passenger" %></div>
                <div class="single-field">
                    <div><%= p.label :name %></div>
                    <div><%= p.text_field :name %></div>
                </div>
                <div class="single-field">
                    <div><%= p.label :email %></div>
                    <div><%= p.email_field :email %></div>
                </div>
            </div>
        <% end %>
        <div class="submit"><%= f.submit %></div>
    <% end %>
</div>

<% if @booking.errors.any? %>
    <div class="bookings-errors">
            <% @booking.errors.full_messages.each do |error| %>
                <div><%= error %></div>
            <% end %>
    </div>
<% end %>