<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>

    <div class="header">
      <div class="sitename">Osserc's flight booking service</div>
      <div class="home">
        <button><%= link_to "Home", root_path %></button>
      </div>
    </div>

    <%= yield %>

    <div class="footer">
      Sponsored by: <strong><%= link_to "Osserc Inc.", "https://github.com/Osserc", :target => "_blank" %></strong>
    </div>
  </body>
</html>
